* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-primary: #3A9DFF;
  --accent-secondary: #32D74B;
  --accent-tertiary: #ebc81a;
  --background-primary: #1b202a;
  --background-secondary: #252b36;
  --background-tertiary: #343a46;
  --foreground-primary: #ffffff;
  --foreground-secondary: #a2a8b4;
  --foreground-tertiary: #717a8c;
  --overlay-scondary: #d0dcf514;
  --overlay-tertiary: #d0dcf524;
  --overlay-quarternary: #d0dcf533;
}

body {
  background-color: var(--background-secondary);
  color: var(--foreground-primary);
  font-family: 'Poppins', sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

button,
input {
  font-family: 'Poppins', sans-serif;
}

.background {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.logo {
  cursor: pointer;
  width: 100px;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.icon--small {
  width: 1.5rem;
  height: 1.5rem;
}

.btn {
  background-color: var(--accent-primary);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14); 
  color: var(--foreground-primary);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.btn--small {
  font-size: 0.7rem;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn:active {
  filter: brightness(1.4);
}

.btn--secondary {
  align-items: center;
  background-color: var(--background-tertiary);
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.btn-icon {
  background: var(--overlay-secondary, rgba(208, 220, 245, 0.08));
  border-radius: 0.5rem;
  color: var(--foreground-secondary);
  cursor: pointer;
  height: 40px;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  width: 40px;
}

.btn-icon:hover {
  background: var(--overlay-tertiary, rgba(208, 220, 245, 0.14));
}

.btn-icon:active {
  background: var(--overlay-quarternary, rgba(208, 220, 245, 0.2));
}

.tag-historical {
  background: var(--accent-secondary);
  border-radius: 8px;
  color: var(--background-primary);
  font-size: .7rem;
  font-weight: 600;
  padding: .2rem .7rem;
}

.tag-best {
  background: var(--accent-tertiary);
  border-radius: 8px;
  color: var(--background-primary);
  font-size: .7rem;
  font-weight: 600;
  padding: .2rem .7rem;
}

@media (max-width: 850px) {
  .btn {
    font-size: .7rem;
  }

  .tag-best {
    display: none;
  }
}